*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: calc(100vh - 60px);
}

footer{
    height: 60px;
    background-color: #282828;
}

aside{
    width: 200px;
    background-color: black;
    height: 100%;
}

.bg-upgrade{
    background-color: #080b12;
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.wrap-raccolte{
    width: calc(100% - 200px);  
    height: 100%;
}

.bg-raccolta{
    background-color: #141922;
    height: calc(100% - 58px);
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.button-upgrade{
    border: 1px solid white;
    padding: 0px 30px;
    line-height: 40px;
    border-radius: 30px;
}

.pad-8-20{
    padding: 8px 20px;
}

.text-color-w{
    color: white;
}

.text-color-wh:hover{
    color: white;
}


.display-ib{
    display: inline-block;
}

.text-ac{
    text-align: center;
}

.text-ar{
    text-align: right;
}

.text-color-lg{
    color: lightgray;
}

.mw-150{
    max-width: 150px;
}

.mw-40{
    max-width: 40px;
}

.mw-30{
    max-width: 30px;
}

.pad-10{
    padding: 10px;
}

.pad-15{
    padding: 15px;
}

.marg-r-10{
    margin-right: 10px;
}

.marg-r-15{
    margin-right: 15px;
}

.marg-top-20{
    margin-top: 20px;
}

.marg-tb-5{
    margin: 5px 0px;
}

.marg-tb-10{
    margin: 10px 0px;
}

.marg-b-10{
    margin-bottom: 10px;
}

.marg-b-15{
    margin-bottom: 15px;
}

.marg-b-5{
    margin-bottom: 5px;
}

main > aside{
    padding: 15px;
    color: Gray;
}

main > aside ul{
    list-style: none;
}

.va-middle{
    vertical-align: middle;
}

.d-flex{
    display: flex;
}

.f-column{
    flex-direction: column;
}

.f-grow-0{
    flex-grow: 0;
}

.f-grow-1{
    flex-grow: 1;
}

.f-grow-2{
    flex-grow: 2;
}

.profile{
    background-color: lightgray;
    border-radius: 50%;
}

.text-color-gray{
    color: gray;
}

.jc-spacebetween{
    justify-content: space-between;
}

.border-left-green{
    border-left: 1px solid yellowgreen;
}

.bg-raccolta h1{
    color: white;
}

.of-auto{
    overflow: auto;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blue;
}

@media all and(max-width: 767px) {
    aside{
        width: 50px;
    }
}

aside hr{
    border-color: gray;
}

.a-items{
    align-items: center;
}